
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
    border-radius: 5px;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(100,43,122);
    background: linear-gradient(45deg, rgb(49, 51, 56) 15%, rgb(48, 16, 61) 100%);
}

.container {
    padding: 50px;
    gap: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: rgb(100,43,122);
    background: linear-gradient(180deg, rgb(14, 52, 155) 15%, rgb(175, 42, 228) 100%);
}

section > * {
    margin-bottom: 15px;
}

.image {
    width: 200px;
    height: 200px;
    margin: auto;
    margin-bottom: 15px;
    background: no-repeat center center url(./src/img/IMG_20230805_101247.jpg);
    background-size: cover;
}

.title-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}

.title-card > h2 {
    font-size: 2rem;
}

.ui-song {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.col-red {
    color: red;
}

.ui-icon, .ui-american {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.ui-control {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.md-36 { 
    font-size: 36px;
}

.american-corner-logo {
    width: 75px;
}

.ui-btn {
    display: flex;
    gap: 25px;
}

button {
    background: #ffffff1a;
    color: white;
    display: flex;
    gap: 7.5px;
    align-items: center;
    padding-inline: 10px;
    padding-block: 5px;
    border: 0;
    font-size: 12px;
    border-radius: 25px;
}

section.second > h4 {
    margin-block: 25px;
    font-size: 15px;
}

section.second > h3 {
    margin-block: 25px;
    font-size: 35px;
}

section.second > p {
    font-size: 10px;
}