*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
    border-radius: 5px;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    padding: 35px;
    gap: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: rgb(100,43,122);
    background: linear-gradient(180deg, rgba(100,43,122,1) 9%, rgba(194,106,228,1) 100%);
}

section > * {
    margin-bottom: 15px;
}

.image {
    width: 175px;
    height: 175px;
    margin: auto;
    margin-bottom: 15px;
    background: no-repeat center center url(./src/img/IMG_20230805_101247.jpg);
    background-size: cover;
}

.flexible.two {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}